In [15]:
import pandas as pd
import numpy as np
import datetime as dt
import requests
from io import StringIO
import json
from investiny import historical_data, search_assets
import plotly.express as px
import plotly.graph_objects as go
import psycopg2
from config import config
from sqlalchemy import create_engine

## CPI data

### CPI data up to 2019

In [5]:
# up to 2023
# url = 'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/1709/key/WebAPI_KEY'
# up to 2019
url = 'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2/key/c2de5ecae1ffee1cbfb2a8c6edeb9994'
response = requests.get(url)
response.raise_for_status()
fetched = response.json()

fixed = json.dumps(fetched)
data = json.loads(fixed)

In [6]:
datacontent = data['datacontent']

In [7]:
data.keys()

dict_keys(['status', 'data-availability', 'var', 'turvar', 'labelvervar', 'vervar', 'tahun', 'turtahun', 'metadata', 'datacontent'])

In [8]:
data['turvar']

[{'val': 0, 'label': 'Tidak Ada'}]

In [9]:
data['tahun']

[{'val': 79, 'label': '1979'},
 {'val': 80, 'label': '1980'},
 {'val': 81, 'label': '1981'},
 {'val': 82, 'label': '1982'},
 {'val': 83, 'label': '1983'},
 {'val': 84, 'label': '1984'},
 {'val': 85, 'label': '1985'},
 {'val': 86, 'label': '1986'},
 {'val': 87, 'label': '1987'},
 {'val': 88, 'label': '1988'},
 {'val': 89, 'label': '1989'},
 {'val': 90, 'label': '1990'},
 {'val': 91, 'label': '1991'},
 {'val': 92, 'label': '1992'},
 {'val': 93, 'label': '1993'},
 {'val': 94, 'label': '1994'},
 {'val': 95, 'label': '1995'},
 {'val': 96, 'label': '1996'},
 {'val': 97, 'label': '1997'},
 {'val': 98, 'label': '1998'},
 {'val': 99, 'label': '1999'},
 {'val': 100, 'label': '2000'},
 {'val': 101, 'label': '2001'},
 {'val': 102, 'label': '2002'},
 {'val': 103, 'label': '2003'},
 {'val': 104, 'label': '2004'},
 {'val': 105, 'label': '2005'},
 {'val': 106, 'label': '2006'},
 {'val': 107, 'label': '2007'},
 {'val': 108, 'label': '2008'},
 {'val': 109, 'label': '2009'},
 {'val': 110, 'label': '2010'},
 {'val': 111, 'label': '2011'},
 {'val': 112, 'label': '2012'},
 {'val': 113, 'label': '2013'},
 {'val': 114, 'label': '2014'},
 {'val': 115, 'label': '2015'},
 {'val': 116, 'label': '2016'},
 {'val': 117, 'label': '2017'},
 {'val': 118, 'label': '2018'},
 {'val': 119, 'label': '2019'}]

In [10]:
year_mapping = {item['val']:item['label'] for item in data['tahun']}

In [11]:
year_mapping

{79: '1979',
 80: '1980',
 81: '1981',
 82: '1982',
 83: '1983',
 84: '1984',
 85: '1985',
 86: '1986',
 87: '1987',
 88: '1988',
 89: '1989',
 90: '1990',
 91: '1991',
 92: '1992',
 93: '1993',
 94: '1994',
 95: '1995',
 96: '1996',
 97: '1997',
 98: '1998',
 99: '1999',
 100: '2000',
 101: '2001',
 102: '2002',
 103: '2003',
 104: '2004',
 105: '2005',
 106: '2006',
 107: '2007',
 108: '2008',
 109: '2009',
 110: '2010',
 111: '2011',
 112: '2012',
 113: '2013',
 114: '2014',
 115: '2015',
 116: '2016',
 117: '2017',
 118: '2018',
 119: '2019'}

In [13]:
max(year_mapping)

119

In [14]:
data['turtahun']

[{'val': 1, 'label': 'Januari'},
 {'val': 2, 'label': 'Februari'},
 {'val': 3, 'label': 'Maret'},
 {'val': 4, 'label': 'April'},
 {'val': 5, 'label': 'Mei'},
 {'val': 6, 'label': 'Juni'},
 {'val': 7, 'label': 'Juli'},
 {'val': 8, 'label': 'Agustus'},
 {'val': 9, 'label': 'September'},
 {'val': 10, 'label': 'Oktober'},
 {'val': 11, 'label': 'November'},
 {'val': 12, 'label': 'Desember'}]

In [15]:
month_mapping = {item['val']:item['label'] for item in data['turtahun']}

In [16]:
filter_keys = [i+str(num) for num in range(1,13) for i in ['999920' + str(num) for num in range(117, 120)]]

In [17]:
len(filter_keys)

36

In [18]:
filtered = {key: value for key, value in datacontent.items() if key in filter_keys}

In [19]:
filtered

{'9999201171': 127.94,
 '9999201172': 128.24,
 '9999201173': 128.22,
 '9999201174': 128.33,
 '9999201175': 128.83,
 '9999201176': 129.72,
 '9999201177': 130,
 '9999201178': 129.91,
 '9999201179': 130.08,
 '99992011710': 130.09,
 '99992011711': 130.35,
 '99992011712': 131.28,
 '9999201181': 132.1,
 '9999201182': 132.32,
 '9999201183': 132.58,
 '9999201184': 132.71,
 '9999201185': 132.99,
 '9999201186': 133.77,
 '9999201187': 134.14,
 '9999201188': 134.07,
 '9999201189': 133.83,
 '99992011810': 134.2,
 '99992011811': 134.56,
 '99992011812': 135.39,
 '9999201191': 135.83,
 '9999201192': 135.72,
 '9999201193': 135.87,
 '9999201194': 136.47,
 '9999201195': 137.4,
 '9999201196': 138.16,
 '9999201197': 138.59,
 '9999201198': 138.75,
 '9999201199': 138.37,
 '99992011910': 138.4,
 '99992011911': 138.6,
 '99992011912': 139.07}

In [20]:
year_mapping

{79: '1979',
 80: '1980',
 81: '1981',
 82: '1982',
 83: '1983',
 84: '1984',
 85: '1985',
 86: '1986',
 87: '1987',
 88: '1988',
 89: '1989',
 90: '1990',
 91: '1991',
 92: '1992',
 93: '1993',
 94: '1994',
 95: '1995',
 96: '1996',
 97: '1997',
 98: '1998',
 99: '1999',
 100: '2000',
 101: '2001',
 102: '2002',
 103: '2003',
 104: '2004',
 105: '2005',
 106: '2006',
 107: '2007',
 108: '2008',
 109: '2009',
 110: '2010',
 111: '2011',
 112: '2012',
 113: '2013',
 114: '2014',
 115: '2015',
 116: '2016',
 117: '2017',
 118: '2018',
 119: '2019'}

In [21]:
filtered.keys()

dict_keys(['9999201171', '9999201172', '9999201173', '9999201174', '9999201175', '9999201176', '9999201177', '9999201178', '9999201179', '99992011710', '99992011711', '99992011712', '9999201181', '9999201182', '9999201183', '9999201184', '9999201185', '9999201186', '9999201187', '9999201188', '9999201189', '99992011810', '99992011811', '99992011812', '9999201191', '9999201192', '9999201193', '9999201194', '9999201195', '9999201196', '9999201197', '9999201198', '9999201199', '99992011910', '99992011911', '99992011912'])

In [22]:
df = pd.DataFrame.from_dict(filtered,orient='index').reset_index().rename(columns={'index':'Code',0:'CPI'})

In [23]:
df.head()

         Code     CPI
0  9999201171  127.94
1  9999201172  128.24
2  9999201173  128.22
3  9999201174  128.33
4  9999201175  128.83

In [24]:
df['Code'] = df['Code'].apply(lambda x: x[6:])

In [25]:
df.tail()

     Code     CPI
31   1198  138.75
32   1199  138.37
33  11910  138.40
34  11911  138.60
35  11912  139.07

In [26]:
df['year_code'] = df['Code'].str[:3].astype('int32')
df['month_code'] = df['Code'].str[3:].astype('int32')
df['Year'] = df['year_code'].map(year_mapping)
df['Month'] = df['month_code'].map(month_mapping)

### CPI data up to 2023

In [27]:
url = 'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/1709/key/c2de5ecae1ffee1cbfb2a8c6edeb9994'
response = requests.get(url)
response.raise_for_status()
fetched = response.json()

fixed = json.dumps(fetched)
data2 = json.loads(fixed)
datacontent2 = data['datacontent']

In [28]:
datacontent2

{'999920791': 118.33,
 '999920792': 121.1,
 '999920793': 121.77,
 '999920794': 125.45,
 '999920795': 129.27,
 '999920796': 132.27,
 '999920797': 135.58,
 '999920798': 138.75,
 '999920799': 139.78,
 '9999207910': 141.03,
 '9999207911': 141.84,
 '9999207912': 143.07,
 '999920801': 144.77,
 '999920802': 146.82,
 '999920803': 147.14,
 '999920804': 148.67,
 '999920805': 154.31,
 '999920806': 156.61,
 '999920807': 158.33,
 '999920808': 160.21,
 '999920809': 160.78,
 '9999208010': 163.49,
 '9999208011': 167.12,
 '9999208012': 167.55,
 '999920811': 169.75,
 '999920812': 170.94,
 '999920813': 172.14,
 '999920814': 173.74,
 '999920815': 174,
 '999920816': 174.73,
 '999920817': 176.83,
 '999920818': 177.74,
 '999920819': 177.4,
 '9999208110': 179.48,
 '9999208111': 178.91,
 '9999208112': 179.82,
 '999920821': 188.28,
 '999920822': 189.29,
 '999920823': 189.63,
 '999920824': 189.52,
 '999920825': 189.86,
 '999920826': 190.49,
 '999920827': 192.6,
 '999920828': 191.72,
 '999920829': 193.41,
 '9999208210': 195.8,
 '9999208211': 196.66,
 '9999208212': 197.85,
 '999920831': 206.94,
 '999920832': 207.24,
 '999920833': 205.99,
 '999920834': 210.99,
 '999920835': 212.83,
 '999920836': 216.19,
 '999920837': 217.88,
 '999920838': 217.83,
 '999920839': 219.61,
 '9999208310': 219.59,
 '9999208311': 220.2,
 '9999208312': 221.53,
 '999920841': 229.11,
 '999920842': 232.91,
 '999920843': 233.42,
 '999920844': 236.48,
 '999920845': 238.02,
 '999920846': 238.69,
 '999920847': 239.58,
 '999920848': 239.22,
 '999920849': 238.98,
 '9999208410': 239.06,
 '9999208411': 236.14,
 '9999208412': 241.63,
 '999920851': 242.75,
 '999920852': 241.54,
 '999920853': 242.07,
 '999920854': 248.13,
 '999920855': 249.02,
 '999920856': 251.23,
 '999920857': 250.94,
 '999920858': 250.76,
 '999920859': 250.38,
 '9999208510': 250.59,
 '9999208511': 251.24,
 '9999208512': 252.2,
 '999920861': 255.39,
 '999920862': 257.18,
 '999920863': 256.07,
 '999920864': 256.33,
 '999920865': 259.59,
 '999920866': 260.2,
 '999920867': 259.67,
 '999920868': 260.13,
 '999920869': 267.44,
 '9999208610': 272.88,
 '9999208611': 274.4,
 '9999208612': 275.27,
 '999920871': 276.24,
 '999920872': 280.28,
 '999920873': 279.49,
 '999920874': 279.75,
 '999920875': 284.92,
 '999920876': 285.79,
 '999920877': 286.89,
 '999920878': 288.45,
 '999920879': 290.49,
 '9999208710': 294.47,
 '9999208711': 299.63,
 '9999208712': 300.75,
 '999920881': 301.75,
 '999920882': 303.34,
 '999920883': 303.52,
 '999920884': 305.7,
 '999920885': 308.53,
 '999920886': 309.72,
 '999920887': 313.16,
 '999920888': 314.44,
 '999920889': 314.28,
 '9999208810': 315.51,
 '9999208811': 316.9,
 '9999208812': 317.56,
 '999920891': 319.16,
 '999920892': 323.2,
 '999920893': 323.94,
 '999920894': 329.04,
 '999920895': 331.13,
 '999920896': 330.42,
 '999920897': 331.9,
 '999920898': 332.22,
 '999920899': 332.93,
 '9999208910': 335.43,
 '9999208911': 337.1,
 '9999208912': 336.96,
 '999920901': 240,
 '999920902': 343.4,
 '999920903': 342.05,
 '999920904': 109.6,
 '999920905': 110.19,
 '999920906': 111.6,
 '999920907': 114.1,
 '999920908': 114.8,
 '999920909': 115.34,
 '9999209010': 116.53,
 '9999209011': 116.9,
 '9999209012': 116.98,
 '999920911': 117.87,
 '999920912': 118.2,
 '999920913': 118.26,
 '999920914': 120.5,
 '999920915': 120.7,
 '999920916': 121.25,
 '999920917': 123.54,
 '999920918': 125.89,
 '999920919': 126,
 '9999209110': 127,
 '9999209111': 128.35,
 '9999209112': 128.6,
 '999920921': 129.17,
 '999920922': 129.5,
 '999920923': 130.34,
 '999920924': 131.54,
 '999920925': 131.68,
 '999920926': 132.53,
 '999920927': 132.83,
 '999920928': 133.04,
 '999920929': 133.3,
 '9999209210': 133.85,
 '9999209211': 134.19,
 '9999209212': 135.08,
 '999920931': 139.03,
 '999920932': 141.85,
 '999920933': 143.96,
 '999920934': 144.17,
 '999920935': 144.37,
 '999920936': 144.72,
 '999920937': 146.69,
 '999920938': 146.15,
 '999920939': 146.56,
 '9999209310': 147.43,
 '9999209311': 148.04,
 '9999209312': 148.83,
 '999920941': 150.69,
 '999920942': 153.34,
 '999920943': 154.41,
 '999920944': 154.78,
 '999920945': 155.59,
 '999920946': 155.78,
 '999920947': 157.78,
 '999920948': 159.32,
 '999920949': 160.17,
 '9999209410': 161.6,
 '9999209411': 162.33,
 '9999209412': 163.17,
 '999920951': 165.06,
 '999920952': 167.22,
 '999920953': 168.18,
 '999920954': 171.02,
 '999920955': 171.86,
 '999920956': 172.14,
 '999920957': 173.36,
 '999920958': 173.91,
 '999920959': 174.57,
 '9999209510': 175.69,
 '9999209511': 176.43,
 '9999209512': 177.83,
 '999920961': 181.67,
 '999920962': 184.77,
 '999920963': 183.65,
 '999920964': 185.08,
 '999920965': 185.19,
 '999920966': 185.06,
 '999920967': 186.32,
 '999920968': 186.83,
 '999920969': 186.76,
 '9999209610': 187.52,
 '9999209611': 188.59,
 '9999209612': 189.62,
 '999920971': 191.58,
 '999920972': 193.6,
 '999920973': 193.36,
 '999920974': 194.44,
 '999920975': 194.81,
 '999920976': 194.48,
 '999920977': 195.77,
 '999920978': 197.5,
 '999920979': 200.04,
 '9999209710': 204.02,
 '9999209711': 207.38,
 '9999209712': 211.62,
 '999920981': 119.85,
 '999920982': 135.14,
 '999920983': 142.15,
 '999920984': 148.83,
 '999920985': 156.63,
 '999920986': 163.89,
 '999920987': 177.92,
 '999920988': 153.51,
 '999920989': 196.23,
 '9999209810': 155.7,
 '9999209811': 158.11,
 '9999209812': 198.64,
 '999920991': 204.54,
 '999920992': 207.12,
 '999920993': 206.75,
 '999920994': 205.34,
 '999920995': 204.76,
 '999920996': 204.07,
 '999920997': 201.93,
 '999920998': 200.05,
 '999920999': 198.68,
 '9999209910': 198.79,
 '9999209911': 199,
 '9999209912': 202.45,
 '9999201001': 205.12,
 '9999201002': 205.27,
 '9999201003': 204.34,
 '9999201004': 205.48,
 '9999201005': 207.21,
 '9999201006': 208.24,
 '9999201007': 210.91,
 '9999201008': 211.99,
 '9999201009': 211.87,
 '99992010010': 214.33,
 '99992010011': 217.15,
 '99992010012': 221.37,
 '9999201011': 222.1,
 '9999201012': 224.04,
 '9999201013': 226.04,
 '9999201014': 227.07,
 '9999201015': 229.63,
 '9999201016': 233.46,
 '9999201017': 238.42,
 '9999201018': 237.92,
 '9999201019': 239.44,
 '99992010110': 241.06,
 '99992010111': 245.18,
 '99992010112': 249.15,
 '9999201021': 254.12,
 '9999201022': 257.93,
 '9999201023': 257.87,
 '9999201024': 257.26,
 '9999201025': 259.31,
 '9999201026': 260.25,
 '9999201027': 262.38,
 '9999201028': 263.13,
 '9999201029': 264.53,
 '99992010210': 265.95,
 '99992010211': 270.87,
 '99992010212': 274.13,
 '9999201031': 276.33,
 '9999201032': 276.87,
 '9999201033': 276.23,
 '9999201034': 276.65,
 '9999201035': 277.23,
 '9999201036': 277.49,
 '9999201037': 277.58,
 '9999201038': 279.92,
 '9999201039': 280.93,
 '99992010310': 282.48,
 '99992010311': 285.32,
 '99992010312': 287.99,
 '9999201041': 110.45,
 '9999201042': 110.43,
 '9999201043': 110.83,
 '9999201044': 111.91,
 '9999201045': 112.9,
 '9999201046': 113.44,
 '9999201047': 113.88,
 '9999201048': 113.98,
 '9999201049': 114,
 '99992010410': 114.64,
 '99992010411': 115.66,
 '99992010412': 116.86,
 '9999201051': 118.53,
 '9999201052': 118.33,
 '9999201053': 120.59,
 '9999201054': 121,
 '9999201055': 121.25,
 '9999201056': 121.86,
 '9999201057': 122.81,
 '9999201058': 123.48,
 '9999201059': 124.33,
 '99992010510': 135.15,
 '99992010511': 136.92,
 '99992010512': 136.86,
 '9999201061': 138.72,
 '9999201062': 139.53,
 '9999201063': 139.57,
 '9999201064': 139.64,
 '9999201065': 140.16,
 '9999201066': 140.79,
 '9999201067': 141.42,
 '9999201068': 141.88,
 '9999201069': 142.42,
 '99992010610': 143.65,
 '99992010611': 144.14,
 '99992010612': 145.89,
 '9999201071': 147.41,
 '9999201072': 148.32,
 '9999201073': 148.67,
 '9999201074': 148.43,
 '9999201075': 148.58,
 '9999201076': 148.92,
 '9999201077': 149.99,
 '9999201078': 151.11,
 '9999201079': 152.32,
 '99992010710': 153.53,
 '99992010711': 153.81,
 '99992010712': 155.5,
 '9999201081': 158.26,
 '9999201082': 159.29,
 '9999201083': 160.81,
 '9999201084': 161.73,
 '9999201085': 164.01,
 '9999201086': 110.08,
 '9999201087': 111.59,
 '9999201088': 112.16,
 '9999201089': 113.25,
 '99992010810': 113.76,
 '99992010811': 113.9,
 '99992010812': 113.86,
 '9999201091': 113.78,
 '9999201092': 114.02,
 '9999201093': 114.27,
 '9999201094': 113.92,
 '9999201095': 113.97,
 '9999201096': 114.1,
 '9999201097': 114.61,
 '9999201098': 115.25,
 '9999201099': 116.46,
 '99992010910': 116.68,
 '99992010911': 116.65,
 '99992010912': 117.03,
 '9999201101': 118.01,
 '9999201102': 118.36,
 '9999201103': 118.19,
 '9999201104': 118.37,
 '9999201105': 118.71,
 '9999201106': 119.86,
 '9999201107': 121.74,
 '9999201108': 122.67,
 '9999201109': 123.21,
 '99992011010': 123.29,
 '99992011011': 124.03,
 '99992011012': 125.17,
 '9999201111': 126.29,
 '9999201112': 126.46,
 '9999201113': 126.05,
 '9999201114': 125.66,
 '9999201115': 125.81,
 '9999201116': 126.5,
 '9999201117': 127.35,
 '9999201118': 128.54,
 '9999201119': 128.89,
 '99992011110': 128.74,
 '99992011111': 129.18,
 '99992011112': 129.91,
 '9999201121': 130.9,
 '9999201122': 130.96,
 '9999201123': 131.05,
 '9999201124': 131.32,
 '9999201125': 131.41,
 '9999201126': 132.23,
 '9999201127': 133.16,
 '9999201128': 134.43,
 '9999201129': 134.45,
 '99992011210': 134.67,
 '99992011211': 134.76,
 '99992011212': 135.49,
 '9999201131': 136.88,
 '9999201132': 137.91,
 '9999201133': 138.78,
 '9999201134': 138.64,
 '9999201135': 138.6,
 '9999201136': 140.03,
 '9999201137': 144.63,
 '9999201138': 146.25,
 '9999201139': 145.74,
 '99992011310': 145.87,
 '99992011311': 146.04,
 '99992011312': 146.84,
 '9999201141': 110.99,
 '9999201142': 111.28,
 '9999201143': 111.37,
 '9999201144': 111.35,
 '9999201145': 111.53,
 '9999201146': 112.01,
 '9999201147': 113.05,
 '9999201148': 113.58,
 '9999201149': 113.89,
 '99992011410': 114.42,
 '99992011411': 116.14,
 '99992011412': 119,
 '9999201151': 118.71,
 '9999201152': 118.28,
 '9999201153': 118.48,
 '9999201154': 118.91,
 '9999201155': 119.5,
 '9999201156': 120.14,
 '9999201157': 121.26,
 '9999201158': 121.73,
 '9999201159': 121.67,
 '99992011510': 121.57,
 '99992011511': 121.82,
 '99992011512': 122.99,
 '9999201161': 123.62,
 '9999201162': 123.51,
 '9999201163': 123.75,
 '9999201164': 123.19,
 '9999201165': 123.48,
 '9999201166': 124.29,
 '9999201167': 125.15,
 '9999201168': 125.13,
 '9999201169': 125.41,
 '99992011610': 125.59,
 '99992011611': 126.18,
 '99992011612': 126.71,
 '9999201171': 127.94,
 '9999201172': 128.24,
 '9999201173': 128.22,
 '9999201174': 128.33,
 '9999201175': 128.83,
 '9999201176': 129.72,
 '9999201177': 130,
 '9999201178': 129.91,
 '9999201179': 130.08,
 '99992011710': 130.09,
 '99992011711': 130.35,
 '99992011712': 131.28,
 '9999201181': 132.1,
 '9999201182': 132.32,
 '9999201183': 132.58,
 '9999201184': 132.71,
 '9999201185': 132.99,
 '9999201186': 133.77,
 '9999201187': 134.14,
 '9999201188': 134.07,
 '9999201189': 133.83,
 '99992011810': 134.2,
 '99992011811': 134.56,
 '99992011812': 135.39,
 '9999201191': 135.83,
 '9999201192': 135.72,
 '9999201193': 135.87,
 '9999201194': 136.47,
 '9999201195': 137.4,
 '9999201196': 138.16,
 '9999201197': 138.59,
 '9999201198': 138.75,
 '9999201199': 138.37,
 '99992011910': 138.4,
 '99992011911': 138.6,
 '99992011912': 139.07,
 '1107201141': 114.4,
 '1107201142': 112.94,
 '1107201143': 112.12,
 '1107201144': 112.05,
 '1107201145': 112.52,
 '1107201146': 112.75,
 '1107201147': 115.47,
 '1107201148': 116.26,
 '1107201149': 116.93,
 '11072011410': 117.89,
 '11072011411': 119.16,
 '11072011412': 120.56,
 '1107201151': 120.41,
 '1107201152': 119.24,
 '1107201153': 118.48,
 '1107201154': 118.58,
 '1107201155': 119.37,
 '1107201156': 120.05,
 '1107201157': 121.06,
 '1107201158': 120.3,
 '1107201159': 120.27,
 '11072011510': 120.33,
 '11072011511': 120.67,
 '11072011512': 121.26,
 '1107201161': 121.82,
 '1107201162': 122.27,
 '1107201163': 122.18,
 '1107201164': 122.01,
 '1107201165': 122.49,
 '1107201166': 122.68,
 '1107201167': 123.18,
 '1107201168': 123.82,
 '1107201169': 124.85,
 '11072011610': 125.25,
 '11072011611': 125.44,
 '11072011612': 125.83,
 '1107201171': 127.51,
 '1107201172': 128.03,
 '1107201173': 127.95,
 '1107201174': 127.29,
 '1107201175': 127.37,
 '1107201176': 127.98,
 '1107201177': 127.99,
 '1107201178': 128.3,
 '1107201179': 128.78,
 '11072011710': 129.14,
 '11072011711': 130.28,
 '11072011712': 131.82,
 '1107201181': 131.63,
 '1107201182': 131.3,
 '1107201183': 131.57,
 '1107201184': 130.88,
 '1107201185': 131.62,
 '1107201186': 131.88,
 '1107201187': 132.81,
 '1107201188': 133.11,
 '1107201189': 132.57,
 '11072011810': 132.35,
 '11072011811': 132.45,
 '11072011812': 133.08,
 '1107201191': 134.29,
 '1107201192': 133.34,
 '1107201193': 133.86,
 '1107201194': 134.1,
 '1107201195': 135.89,
 '1107201196': 137.66,
 '1107201197': 137.95,
 '1107201198': 138.22,
 '1107201199': 139.48,
 '11072011910': 139.73,
 '11072011911': 139.03,
 '11072011912': 138.77,
 '117120891': 318.7,
 '117120892': 324.03,
 '117120893': 324.62,
 '117120894': 328.58,
 '117120895': 329.73,
 '117120896': 332.35,
 '117120897': 336.37,
 '117120898': 342.85,
 '117120899': 343.71,
 '1171208910': 343.94,
 '1171208911': 344.39,
 '1171208912': 346.13,
 '117120901': 111,
 '117120902': 110.2,
 '117120903': 110.36,
 '117120904': 111.67,
 '117120905': 119.79,
 '117120906': 115.01,
 '117120907': 118.94,
 '117120908': 118.18,
 '117120909': 118.24,
 '1171209010': 119.45,
 '1171209011': 121,
 '1171209012': 122.62,
 '117120911': 123,
 '117120912': 123.08,
 '117120913': 122.41,
 '117120914': 121.92,
 '117120915': 122.19,
 '117120916': 122.92,
 '117120917': 126.3,
 '117120918': 126.93,
 '117120919': 127.91,
 '1171209110': 127.88,
 '1171209111': 129.1,
 '1171209112': 131.25,
 '117120921': 129.31,
 '117120922': 130.76,
 '117120923': 131.87,
 '117120924': 131.5,
 '117120925': 131.09,
 '117120926': 132.07,
 '117120927': 132.47,
 '117120928': 133.11,
 '117120929': 133.02,
 '1171209210': 133.36,
 '1171209211': 133.31,
 '1171209212': 134.19,
 '117120931': 136.82,
 '117120932': 140.16,
 '117120933': 141.42,
 '117120934': 142.7,
 '117120935': 143.19,
 '117120936': 144.76,
 '117120937': 147.43,
 '117120938': 146.68,
 '117120939': 146.94,
 '1171209310': 148,
 '1171209311': 147.07,
 '1171209312': 147.92,
 '117120941': 148.31,
 '117120942': 148.97,
 '117120943': 152.66,
 '117120944': 152.29,
 '117120945': 153.03,
 '117120946': 155.06,
 '117120947': 156.5,
 '117120948': 157.21,
 '117120949': 157.78,
 '1171209410': 158.01,
 '1171209411': 160.52,
 '1171209412': 161.68,
 '117120951': 163.35,
 '117120952': 162.73,
 '117120953': 165.71,
 '117120954': 167.89,
 '117120955': 169.85,
 '117120956': 171.18,
 '117120957': 172.96,
 '117120958': 173.2,
 '117120959': 173.55,
 '1171209510': 174.05,
 '1171209511': 175.92,
 '1171209512': 177.1,
 '117120961': 178.29,
 '117120962': 179.92,
 '117120963': 180.14,
 '117120964': 183.08,
 '117120965': 182.82,
 '117120966': 183,
 '117120967': 185.09,
 '117120968': 185.04,
 '117120969': 184.48,
 '1171209610': 188.54,
 '1171209611': 188.67,
 '1171209612': 189.21,
 '117120971': 188.63,
 '117120972': 189.61,
 '117120973': 194.31,
 '117120974': 192.45,
 '117120975': 192.58,
 '117120976': 191.99,
 '117120977': 192.91,
 '117120978': 195.87,
 '117120979': 196.95,
 '1171209710': 198.86,
 '1171209711': 205.31,
 '1171209712': 208.67,
 '117120981': 114.49,
 '117120982': 127.25,
 '117120983': 133.7,
 '117120984': 137.78,
 '117120985': 148.85,
 '117120986': 159.8,
 '117120987': 171.17,
 '117120988': 179.35,
 '117120989': 188.14,
 '1171209810': 188.35,
 '1171209811': 194.1,
 '1171209812': 196.2,
 '117120991': 202.9,
 '117120992': 205.11,
 '117120993': 205.81,
 '117120994': 203.71,
 '117120995': 201.79,
 '117120996': 202.56,
 '117120997': 200.38,
 '117120998': 202.4,
 '117120999': 195.83,
 '1171209910': 199.75,
 '1171209911': 202.47,
 '1171209912': 207.12,
 '1171201001': 213.97,
 '1171201002': 214.65,
 '1171201003': 214.77,
 '1171201004': 211.83,
 '1171201005': 211.39,
 '1171201006': 210.44,
 '1171201007': 213.39,
 '1171201008': 216.65,
 '1171201009': 217.12,
 '11712010010': 218.99,
 '11712010011': 226.88,
 '11712010012': 229.01,
 '1171201011': 232.63,
 '1171201012': 233.6,
 '1171201013': 236.31,
 '1171201014': 233.02,
 '1171201015': 239.8,
 '1171201016': 244.88,
 '1171201017': 249.92,
 '1171201018': 251.84,
 '1171201019': 254.69,
 '11712010110': 255.54,
 '11712010111': 257.85,
 '11712010112': 267.19,
 '1171201021': 274.62,
 '1171201022': 277.82,
 '1171201023': 272.88,
 '1171201024': 273.16,
 '1171201025': 273,
 '1171201026': 276.32,
 '1171201027': 277.58,
 '1171201028': 278.66,
 '1171201029': 279.47,
 '11712010210': 279.28,
 '11712010211': 289.89,
 '11712010212': 294.12,
 '1171201031': 295.86,
 '1171201032': 295.57,
 '1171201033': 293.38,
 '1171201034': 290.8,
 '1171201035': 292.56,
 '1171201036': 292.36,
 '1171201037': 292,
 '1171201038': 300.61,
 '1171201039': 296.67,
 '11712010310': 295.57,
 '11712010311': 298.31,
 '11712010312': 304.4,
 '1171201041': 109.6,
 '1171201042': 108.99,
 '1171201043': 109.19,
 '1171201044': 111.23,
 '1171201045': 111.14,
 '1171201046': 111.12,
 '1171201047': 112.49,
 '1171201048': 112.78,
 '1171201049': 113.61,
 '11712010410': 113.42,
 '11712010411': 114.51,
 '11712010412': 116.73,
 '1171201051': 124.93,
 '1171201052': 123.32,
 '1171201053': 128.22,
 '1171201054': 133.93,
 '1171201055': 133.54,
 '1171201056': 132.75,
 '1171201057': 134.12,
 '1171201058': 138.47,
 '1171201059': 138.64,
 '11712010510': 155.9,
 '11712010511': 159.57,
 '11712010512': 164.72,
 '1171201061': 168.47,
 '1171201062': 171.76,
 '1171201063': 166.76,
 '1171201064': 164.27,
 '1171201065': 169.43,
 '1171201066': 170.99,
 '1171201067': 172.42,
 '1171201068': 174.05,
 '1171201069': 175.5,
 '11712010610': 178.23,
 '11712010611': 176.57,
 '11712010612': 180.43,
 '1171201071': 184.38,
 '1171201072': 187.29,
 '1171201073': 188.75,
 '1171201074': 189,
 '1171201075': 185.08,
 '1171201076': 185.6,
 '1171201077': 192.7,
 '1171201078': 194.34,
 '1171201079': 196.46,
 '11712010710': 193.37,
 '11712010711': 193.02,
 '11712010712': 200.28,
 '1171201081': 204.8,
 '1171201082': 208.85,
 '1171201083': 207.26,
 '1171201084': 205.6,
 '1171201085': 213.37,
 '1171201086': 110.54,
 '1171201087': 110.82,
 '1171201088': 110.2,
 '1171201089': 112.04,
 '11712010810': 111.7,
 '11712010811': 112.41,
 '11712010812': 113.6,
 '1171201091': 113.26,
 '1171201092': 113.21,
 '1171201093': 114,
 '1171201094': 113.46,
 '1171201095': 114.18,
 '1171201096': 114.16,
 '1171201097': 115.07,
 '1171201098': 116.74,
 '1171201099': 118.86,
 '11712010910': 117.32,
 '11712010911': 117.85,
 '11712010912': 117.58,
 '1171201101': 118.21,
 '1171201102': 118.29,
 '1171201103': 118.1,
 '1171201104': 117.44,
 '1171201105': 117.36,
 '1171201106': 117.71,
 '1171201107': 119.04,
 '1171201108': 119,
 '1171201109': 119.44,
 '11712011010': 119.53,
 '11712011011': 121.6,
 '11712011012': 123.03,
 '1171201111': 125.17,
 '1171201112': 125.76,
 '1171201113': 123.35,
 '1171201114': 123.07,
 '1171201115': 122.59,
 '1171201116': 123.17,
 '1171201117': 124.6,
 '1171201118': 126.95,
 '1171201119': 125.67,
 '11712011110': 125.32,
 '11712011111': 125.97,
 '11712011112': 127.12,
 '1171201121': 127.15,
 '1171201122': 126.8,
 '1171201123': 127.32,
 '1171201124': 127.15,
 '1171201125': 126.4,
 '1171201126': 127.21,
 '1171201127': 127.44,
 '1171201128': 128.07,
 '1171201129': 127.77,
 '11712011210': 127.39,
 '11712011211': 126.35,
 '11712011212': 127.19,
 '1171201131': 128.74,
 '1171201132': 129.12,
 '1171201133': 128.96,
 '1171201134': 129.34,
 '1171201135': 129.1,
 '1171201136': 131.36,
 '1171201137': 133.73,
 '1171201138': 135.12,
 '1171201139': 134.31,
 '11712011310': 134.54,
 '11712011311': 134.37,
 '11712011312': 135.32,
 '1171201141': 108.47,
 '1171201142': 107.98,
 '1171201143': 107.42,
 '1171201144': 107.26,
 '1171201145': 108.18,
 '1171201146': 108.61,
 '1171201147': 109.95,
 '1171201148': 110.02,
 '1171201149': 110.54,
 '11712011410': 110.96,
 '11712011411': 112.38,
 '11712011412': 114.84,
 '1171201151': 114.95,
 '1171201152': 113.91,
 '1171201153': 113.22,
 '1171201154': 113.31,
 '1171201155': 113.89,
 '1171201156': 115.26,

In [29]:
data2.keys()

dict_keys(['status', 'data-availability', 'var', 'turvar', 'labelvervar', 'vervar', 'tahun', 'turtahun', 'metadata', 'datacontent'])

In [30]:
data2['var']

[{'val': 1709,
  'label': 'Indeks Harga Konsumen 90 Kota (Umum)',
  'unit': '',
  'subj': 'Inflasi',
  'def': '',
  'decimal': '2',
  'note': '&lt;p&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;Mulai Tahun 2020, digunakan tahun dasar 2018, IHK dihitung berdasarkan pola konsumsi hasil SBH di 90 kota tahun 2018 (2018=100)&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&lt;br /&gt;&lt;/p&gt;'}]

In [31]:
data2['turvar']

[{'val': 0, 'label': 'Tidak Ada'}]

In [32]:
data2['vervar']

[{'val': 1107, 'label': 'KOTA MEULABOH'},
 {'val': 1171, 'label': 'KOTA BANDA ACEH'},
 {'val': 1174, 'label': 'KOTA LHOKSEUMAWE'},
 {'val': 1271, 'label': 'KOTA SIBOLGA'},
 {'val': 1273, 'label': 'KOTA PEMATANG SIANTAR'},
 {'val': 1275, 'label': 'KOTA MEDAN'},
 {'val': 1277, 'label': 'KOTA PADANGSIDIMPUAN'},
 {'val': 1278, 'label': 'KOTA GUNUNGSITOLI'},
 {'val': 1371, 'label': 'KOTA PADANG'},
 {'val': 1375, 'label': 'KOTA BUKITTINGGI'},
 {'val': 1403, 'label': 'TEMBILAHAN'},
 {'val': 1471, 'label': 'KOTA PEKANBARU'},
 {'val': 1473, 'label': 'KOTA DUMAI'},
 {'val': 1509, 'label': 'BUNGO'},
 {'val': 1571, 'label': 'KOTA JAMBI'},
 {'val': 1671, 'label': 'KOTA PALEMBANG'},
 {'val': 1674, 'label': 'KOTA LUBUKLINGGAU'},
 {'val': 1771, 'label': 'KOTA BENGKULU'},
 {'val': 1871, 'label': 'KOTA BANDAR LAMPUNG'},
 {'val': 1872, 'label': 'KOTA METRO'},
 {'val': 1902, 'label': 'TANJUNG PANDAN'},
 {'val': 1971, 'label': 'KOTA PANGKAL PINANG'},
 {'val': 2171, 'label': 'KOTA BATAM'},
 {'val': 2172, 'label': 'KOTA TANJUNG PINANG'},
 {'val': 3100, 'label': 'DKI JAKARTA'},
 {'val': 3271, 'label': 'KOTA BOGOR'},
 {'val': 3272, 'label': 'KOTA SUKABUMI'},
 {'val': 3273, 'label': 'KOTA BANDUNG'},
 {'val': 3274, 'label': 'KOTA CIREBON'},
 {'val': 3275, 'label': 'KOTA BEKASI'},
 {'val': 3276, 'label': 'KOTA DEPOK'},
 {'val': 3278, 'label': 'KOTA TASIKMALAYA'},
 {'val': 3301, 'label': 'CILACAP'},
 {'val': 3302, 'label': 'PURWOKERTO'},
 {'val': 3319, 'label': 'KUDUS'},
 {'val': 3372, 'label': 'KOTA SURAKARTA'},
 {'val': 3374, 'label': 'KOTA SEMARANG'},
 {'val': 3376, 'label': 'KOTA TEGAL'},
 {'val': 3471, 'label': 'KOTA YOGYAKARTA'},
 {'val': 3509, 'label': 'JEMBER'},
 {'val': 3510, 'label': 'BANYUWANGI'},
 {'val': 3529, 'label': 'SUMENEP'},
 {'val': 3571, 'label': 'KOTA KEDIRI'},
 {'val': 3573, 'label': 'KOTA MALANG'},
 {'val': 3574, 'label': 'KOTA PROBOLINGGO'},
 {'val': 3577, 'label': 'KOTA MADIUN'},
 {'val': 3578, 'label': 'KOTA SURABAYA'},
 {'val': 3671, 'label': 'KOTA TANGERANG'},
 {'val': 3672, 'label': 'KOTA CILEGON'},
 {'val': 3673, 'label': 'KOTA SERANG'},
 {'val': 5108, 'label': 'SINGARAJA'},
 {'val': 5171, 'label': 'KOTA DENPASAR'},
 {'val': 5271, 'label': 'KOTA MATARAM'},
 {'val': 5272, 'label': 'KOTA BIMA'},
 {'val': 5302, 'label': 'WAINGAPU'},
 {'val': 5310, 'label': 'MAUMERE'},
 {'val': 5371, 'label': 'KOTA KUPANG'},
 {'val': 6107, 'label': 'SINTANG'},
 {'val': 6171, 'label': 'KOTA PONTIANAK'},
 {'val': 6172, 'label': 'KOTA SINGKAWANG'},
 {'val': 6202, 'label': 'SAMPIT'},
 {'val': 6271, 'label': 'KOTA PALANGKA RAYA'},
 {'val': 6302, 'label': 'KOTA BARU'},
 {'val': 6309, 'label': 'TANJUNG'},
 {'val': 6371, 'label': 'KOTA BANJARMASIN'},
 {'val': 6471, 'label': 'KOTA BALIKPAPAN'},
 {'val': 6472, 'label': 'KOTA SAMARINDA'},
 {'val': 6502, 'label': 'TANJUNG SELOR'},
 {'val': 6571, 'label': 'KOTA TARAKAN'},
 {'val': 7171, 'label': 'KOTA MANADO'},
 {'val': 7174, 'label': 'KOTA KOTAMOBAGU'},
 {'val': 7202, 'label': 'LUWUK'},
 {'val': 7271, 'label': 'KOTA PALU'},
 {'val': 7302, 'label': 'BULUKUMBA'},
 {'val': 7311, 'label': 'WATAMPONE'},
 {'val': 7371, 'label': 'KOTA MAKASSAR'},
 {'val': 7372, 'label': 'KOTA PARE-PARE'},
 {'val': 7373, 'label': 'KOTA PALOPO'},
 {'val': 7471, 'label': 'KOTA KENDARI'},
 {'val': 7472, 'label': 'KOTA BUA-BAU'},
 {'val': 7571, 'label': 'KOTA GORONTALO'},
 {'val': 7604, 'label': 'MAMUJU'},
 {'val': 8171, 'label': 'KOTA AMBON'},
 {'val': 8172, 'label': 'KOTA TUAL'},
 {'val': 8271, 'label': 'KOTA TERNATE'},
 {'val': 9105, 'label': 'MANOKWARI'},
 {'val': 9171, 'label': 'KOTA SORONG'},
 {'val': 9401, 'label': 'MERAUKE'},
 {'val': 9412, 'label': 'TIMIKA'},
 {'val': 9471, 'label': 'KOTA JAYAPURA'},
 {'val': 9999, 'label': 'INDONESIA'}]

In [33]:
vervar = next(item['val'] for item in data['vervar'] if item['label'].upper() == 'INDONESIA')

In [34]:
var = next(item['val'] for item in data2['var'])

In [35]:
turvar = next(item['val'] for item in data2['turvar'])

In [36]:
turvar

0

In [37]:
data2['tahun']

[{'val': 120, 'label': '2020'},
 {'val': 121, 'label': '2021'},
 {'val': 122, 'label': '2022'},
 {'val': 123, 'label': '2023'}]

In [38]:
data2['turtahun']

[{'val': 1, 'label': 'Januari'},
 {'val': 2, 'label': 'Februari'},
 {'val': 3, 'label': 'Maret'},
 {'val': 4, 'label': 'April'},
 {'val': 5, 'label': 'Mei'},
 {'val': 6, 'label': 'Juni'},
 {'val': 7, 'label': 'Juli'},
 {'val': 8, 'label': 'Agustus'},
 {'val': 9, 'label': 'September'},
 {'val': 10, 'label': 'Oktober'},
 {'val': 11, 'label': 'November'},
 {'val': 12, 'label': 'Desember'}]

### JSON content and structure is pretty much similar to our previous data, might as well create a function for it

In [3]:
API_key = 'c2de5ecae1ffee1cbfb2a8c6edeb9994'

In [97]:
def get_monthly_cpi(url):
    api_key = API_key
    url = f'{url}/{api_key}'
    response = requests.get(url)
    response.raise_for_status()
    fetched = response.json()
    fixed = json.dumps(fetched)
    data = json.loads(fixed)
    
    vervar = next(item['val'] for item in data['vervar'] if item['label'].upper() == 'INDONESIA')
    var = next(item['val'] for item in data['var'])
    turvar = next(item['val'] for item in data['turvar'])
    code = str(vervar)+str(var)+str(turvar)
    
    datacontent = data['datacontent']
    year_mapping = {item['val']:item['label'] for item in data['tahun']}
    month_mapping = {item['val']:item['label'] for item in data['turtahun']}
    last_four_years = [key for key in year_mapping.keys() if key >= max(year_mapping)-3]   
    filter_keys = [i+str(num) for num in range(1,13) for i in [code + str(num) for num in last_four_years]]
    filtered = {key: value for key, value in datacontent.items() if key in filter_keys}
    df = pd.DataFrame.from_dict(filtered,orient='index').reset_index().rename(columns={'index':'year_month',0:'CPI'})
    
    df['year_month'] = df['year_month'].apply(lambda x: x[len(code):])
    df['year_code'] = df['year_month'].str[:3].astype('int32')
    df['month_code'] = df['year_month'].str[3:].astype('int32')
    df['Year'] = df['year_code'].map(year_mapping)
    df['Month'] = df['month_code'].map(month_mapping)
    return df

In [98]:
df_2019 = get_monthly_cpi('https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2/key')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [42]:
df_2023 = get_monthly_cpi('https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/1709/key')

In [43]:
df_2024 = get_monthly_cpi('https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2261/key')

In [44]:
df_2024.tail()

  year_month     CPI  year_code  month_code  Year     Month
0       1241  105.19        124           1  2024   Januari
1       1242  105.58        124           2  2024  Februari
2       1243  106.13        124           3  2024     Maret
3       1244  106.40        124           4  2024     April

### Gausah di-include, cuma untuk cek

In [ ]:
filter_keys2 = [i + str(num) for num in range(1,13) for i in ['110717090' + str(num) for num in range(120,124)]]

In [ ]:
len(filter_keys2)

In [ ]:
filtered2 = {key: value for key, value in datacontent2.items() if key in filter_keys2}

In [ ]:
df2 = pd.DataFrame.from_dict(filtered2,orient='index').reset_index().rename(columns={'index':'Code',0:'CPI'})

In [ ]:
year_mapping2 = {item['val']:item['label'] for item in data2['tahun']}

In [ ]:
df2['Code'] = df2['Code'].apply(lambda x: x[9:])
df2['year_code'] = df2['Code'].str[:3].astype('int32')
df2['month_code'] = df2['Code'].str[3:].astype('int32')

df2['Year'] = df2['year_code'].map(year_mapping2)
df2['Month'] = df2['month_code'].map(month_mapping)

In [ ]:
df2

### Union all CPI data

In [45]:
cpi = pd.concat([df_2019,df_2023,df_2024],ignore_index=True)

In [46]:
cpi.head()

  year_month     CPI  year_code  month_code  Year     Month
0       1161  123.62        116           1  2016   Januari
1       1162  123.51        116           2  2016  Februari
2       1163  123.75        116           3  2016     Maret
3       1164  123.19        116           4  2016     April
4       1165  123.48        116           5  2016       Mei

## Other data

In [48]:
# search_results = search_assets(query="BTC", type="ETF", exchange="IDX")
# # investing_id = int(search_results[0]["ticker"]) # Assuming the first entry is the desired one (top result in Investing.com)

# # data = historical_data(investing_id=investing_id, from_date="09/01/2022", to_date="10/01/2022")
# search_results

In [77]:
btc = pd.read_csv('csv_files/Data Historis BTC_IDR BTC Indonesia 2017-2024.csv')
btc.head()

,Tanggal,Terakhir,Pembukaan,Tertinggi,Terendah,Vol.,Perubahan%
0,31/03/2024,1.129.259.008,1.113.600.000,1.129.260.032,1.113.600.000,"0,02K","1,41%"
1,30/03/2024,1.113.600.000,1.117.326.976,1.120.000.000,1.113.500.032,"0,02K","-0,28%"
2,29/03/2024,1.116.734.976,1.130.334.976,1.130.855.040,1.105.056.000,"0,03K","-1,20%"
3,28/03/2024,1.130.334.976,1.109.442.944,1.135.718.016,1.100.519.936,"0,04K","1,83%"
4,27/03/2024,1.109.984.000,1.114.294.016,1.130.000.000,1.091.016.960,"0,07K","-0,38%"

In [50]:
ihsg = pd.read_csv('Data Historis Jakarta Stock Exchange Composite 2017-2024.csv')
ihsg.head()

      Tanggal  Terakhir Pembukaan Tertinggi  Terendah    Vol. Perubahan%
0  28/03/2024  7.288,81  7.289,16  7.313,01  7.244,95  12,41B     -0,29%
1  27/03/2024  7.310,09  7.364,23  7.375,40  7.292,80  12,53B     -0,75%
2  26/03/2024  7.365,66  7.337,66  7.371,84  7.330,46  13,84B     -0,16%
3  25/03/2024  7.377,76  7.339,52  7.377,76  7.316,93  12,43B      0,38%
4  22/03/2024  7.350,15  7.327,51  7.350,15  7.318,44  12,37B      0,16%

In [51]:
usd = pd.read_csv('Data Historis USD_IDR 2017-2024.csv')
usd.head()

      Tanggal  Terakhir Pembukaan Tertinggi  Terendah Vol. Perubahan%
0  29/03/2024  15.880,0  15.891,0  15.909,3  15.858,5  NaN      0,19%
1  28/03/2024  15.850,0  15.880,0  15.894,0  15.855,0  NaN      0,00%
2  27/03/2024  15.850,0  15.830,0  15.865,0  15.818,5  NaN      0,41%
3  26/03/2024  15.785,0  15.800,0  15.810,0  15.780,0  NaN     -0,06%
4  25/03/2024  15.795,0  15.785,0  15.808,5  15.775,0  NaN      0,13%

In [52]:
gold = pd.read_csv('Data Historis GAU_IDR.csv')
gold.head()

      Tanggal   Terakhir  Pembukaan  Tertinggi   Terendah  Vol. Perubahan%
0  31/03/2024  1.144.430  1.140.016  1.145.381  1.140.016   NaN      0,41%
1  29/03/2024  1.139.801  1.140.304  1.142.120  1.138.473   NaN     -0,04%
2  28/03/2024  1.140.304  1.118.933  1.140.806  1.117.077   NaN      1,91%
3  27/03/2024  1.118.885  1.109.696  1.122.509  1.106.975   NaN      0,89%
4  26/03/2024  1.108.995  1.103.712  1.116.709    306.901   NaN      0,47%

# Data Cleaning

In [53]:
df_list = [cpi, btc, ihsg, usd, gold]

In [57]:
for df in df_list:
    print(df.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year_month  100 non-null    object
 1   CPI         100 non-null    float64
 2   year_code   100 non-null    int32
 3   month_code  100 non-null    int32
 4   Year        100 non-null    object
 5   Month       100 non-null    object
dtypes: float64(1), int32(2), object(3)
memory usage: 4.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     2392 non-null   object
 1   Terakhir    2392 non-null   object
 2   Pembukaan   2392 non-null   object
 3   Tertinggi   2392 non-null   object
 4   Terendah    2392 non-null   object
 5   Vol.        2391 non-null   object
 6   Perubahan%  2392 non-null   object
dtypes: object(7)
memory usage: 130.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     1599 non-null   object
 1   Terakhir    1599 non-null   object
 2   Pembukaan   1599 non-null   object
 3   Tertinggi   1599 non-null   object
 4   Terendah    1599 non-null   object
 5   Vol.        1597 non-null   object
 6   Perubahan%  1599 non-null   object
dtypes: object(7)
memory usage: 87.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     1661 non-null   object
 1   Terakhir    1661 non-null   object
 2   Pembukaan   1661 non-null   object
 3   Tertinggi   1661 non-null   object
 4   Terendah    1661 non-null   object
 5   Vol.        990 non-null    object
 6   Perubahan%  1661 non-null   object
dtypes: object(7)
memory usage: 91.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     1106 non-null   object
 1   Terakhir    1106 non-null   object
 2   Pembukaan   1106 non-null   object
 3   Tertinggi   1106 non-null   object
 4   Terendah    1106 non-null   object
 5   Vol.        0 non-null      float64
 6   Perubahan%  1106 non-null   object
dtypes: float64(1), object(6)
memory usage: 60.6+ KB
None

## Duplicates

In [54]:
for df in df_list:
    print(f'number of duplicate rows: {df.duplicated().sum()}')
    print(f'number of all rows: {len(df)}')

number of duplicate rows: 0
number of all rows: 100
number of duplicate rows: 0
number of all rows: 2392
number of duplicate rows: 0
number of all rows: 1599
number of duplicate rows: 0
number of all rows: 1661
number of duplicate rows: 0
number of all rows: 1106

No duplicate row was found

## Missing value

In [58]:
for df in df_list:
    print(f'number of missing values: {df.isnull().sum()}')

number of missing values: year_month    0
CPI           0
year_code     0
month_code    0
Year          0
Month         0
dtype: int64
number of missing values: Tanggal       0
Terakhir      0
Pembukaan     0
Tertinggi     0
Terendah      0
Vol.          1
Perubahan%    0
dtype: int64
number of missing values: Tanggal       0
Terakhir      0
Pembukaan     0
Tertinggi     0
Terendah      0
Vol.          2
Perubahan%    0
dtype: int64
number of missing values: Tanggal         0
Terakhir        0
Pembukaan       0
Tertinggi       0
Terendah        0
Vol.          671
Perubahan%      0
dtype: int64
number of missing values: Tanggal          0
Terakhir         0
Pembukaan        0
Tertinggi        0
Terendah         0
Vol.          1106
Perubahan%       0
dtype: int64

Missing values were found in non-important columns (all were found in volume columns) so we are just gonna ignore.

## Formatting & change column data type

In [59]:
numerical_columns = ['Terakhir','Pembukaan','Tertinggi','Terendah']

In [60]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     2392 non-null   object
 1   Terakhir    2392 non-null   object
 2   Pembukaan   2392 non-null   object
 3   Tertinggi   2392 non-null   object
 4   Terendah    2392 non-null   object
 5   Vol.        2391 non-null   object
 6   Perubahan%  2392 non-null   object
dtypes: object(7)
memory usage: 130.9+ KB

In [61]:
btc['Terakhir'] = btc['Terakhir'].apply(lambda x: x.replace(".",""))

In [62]:
for df in df_list[1:]:
    df['Tanggal'] = pd.to_datetime(df['Tanggal'],format="%d/%m/%Y")
    df['Vol.'] = 
    for col in numerical_columns:
        df[col] = df[col].apply(lambda x: x.replace('.','').replace(',','.'))
        # df[col] = df[col].apply(lambda x: x.replace('.',''))
        df[col] = df[col].astype('float')

SyntaxError: invalid syntax (1160523163.py, line 3)

In [63]:
btc.head()

,Tanggal,Terakhir,Pembukaan,Tertinggi,Terendah,Vol.,Perubahan%
0,31/03/2024,1129259008,1.113.600.000,1.129.260.032,1.113.600.000,"0,02K","1,41%"
1,30/03/2024,1113600000,1.117.326.976,1.120.000.000,1.113.500.032,"0,02K","-0,28%"
2,29/03/2024,1116734976,1.130.334.976,1.130.855.040,1.105.056.000,"0,03K","-1,20%"
3,28/03/2024,1130334976,1.109.442.944,1.135.718.016,1.100.519.936,"0,04K","1,83%"
4,27/03/2024,1109984000,1.114.294.016,1.130.000.000,1.091.016.960,"0,07K","-0,38%"

In [66]:
btc['Vol.'].unique()

array(['0,02K', '0,03K', '0,04K', '0,07K', '0,09K', '0,06K', '0,11K',
       '0,21K', '0,05K', '0,08K', '0,17K', '0,10K', '0,12K', '0,23K',
       '0,18K', '0,14K', '0,20K', '0,01K', '0,13K', '0,00K', '0,16K',
       '0,15K', '0,32K', '0,19K', '0,33K', '0,25K', '0,40K', nan, '0,28K',
       '0,30K', '0,24K', '0,22K', '0,29K', '0,38K', '0,63K', '0,34K',
       '0,54K', '0,26K', '0,27K', '0,70K', '0,46K', '0,50K', '0,45K',
       '0,42K', '0,97K', '0,39K', '0,61K', '0,69K', '0,59K', '0,35K',
       '0,75K', '0,41K', '0,44K', '0,64K', '0,37K', '0,31K', '0,48K',
       '0,60K', '0,49K', '0,77K', '0,36K', '0,47K', '0,62K', '0,43K',
       '0,76K', '0,85K', '0,52K', '1,09K', '0,83K', '0,57K', '0,53K',
       '0,71K', '1,15K', '0,80K', '0,98K', '1,36K', '1,01K', '0,66K',
       '0,82K', '0,68K', '0,58K', '0,67K', '0,89K', '1,34K', '1,22K',
       '0,81K', '0,55K', '0,93K', '0,72K', '0,51K', '0,56K', '0,65K',
       '0,87K', '0,74K', '1,02K', '0,88K', '0,91K', '0,94K', '0,78K',
       '0,96K', '0,86K', '1,19K', '2,10K', '1,49K', '0,84K', '1,37K',
       '1,81K', '1,67K', '1,04K', '0,79K', '1,20K', '0,73K', '1,33K',
       '1,43K', '1,88K', '1,12K', '1,98K', '2,19K', '1,27K', '1,59K',
       '2,14K', '0,92K', '1,42K', '1,41K', '2,16K', '0,99K', '1,10K',
       '0,90K', '1,38K', '1,63K'], dtype=object)

In [ ]:
y = btc['Vol.'].replace({',':'.',' ':''},regex=False).map(pd.eval).astype(float)

In [ ]:
y

In [ ]:
fix_decimal = btc['Vol.'].apply(lambda x: str(x).replace({',':'.','nan':None},regex=True)

In [ ]:
fix_decimal

In [ ]:
fix_decimal = btc['Vol.'].replace([',','nan'],['.',None])
# fix_decimal = btc['Vol.'].replace({',':'.','nan':None},regex=True)
fix_decimal2 = ihsg['Vol.'].replace({',':'.','nan':None},regex=True)

In [ ]:
fixed2 = fix_decimal2.replace({'K': '*1e3', 'M': '*1e6','B':'*1e9'},regex=True).map(pd.eval)

In [ ]:
fixed = fix_decimal.replace({'K': '*1e3', 'M': '*1e6','B':'*1e9'},regex=True).map(pd.eval)

# EDA & Viz

In [ ]:
gold.info()

In [ ]:
ihsg.head()

In [ ]:
btc.info()

In [ ]:
color_dict = {
    'Bitcoin':'rgb(204,80,62)',
    'IHSG':'rgb(56,166,165)',
    'USD':'rgb(115,175,72)',
    'Gold':'rgb(237,173,8)'
}

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=btc['Tanggal'],y=btc['Terakhir'],mode='lines',name='Bitcoin',line={'color':color_dict['Bitcoin']}))
fig.add_trace(go.Scatter(x=ihsg['Tanggal'],y=ihsg['Terakhir'],mode='lines',name='IHSG',line={'color':color_dict['IHSG']}))
fig.add_trace(go.Scatter(x=usd['Tanggal'],y=usd['Terakhir'],mode='lines',name='USD',line={'color':color_dict['USD']}))
fig.add_trace(go.Scatter(x=gold['Tanggal'],y=gold['Terakhir'],mode='lines',name='Gold',line={'color':color_dict['Gold']}))

fig.show()

As can be seen, Bitcoin prices are significantly higher, resulting in other instruments looking non significant, hence we are going to rescale using logarithmic scale.

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=btc['Tanggal'],y=btc['Terakhir'],mode='lines',name='Bitcoin',line={'color':color_dict['Bitcoin']}))
fig.add_trace(go.Scatter(x=ihsg['Tanggal'],y=ihsg['Terakhir'],mode='lines',name='IHSG',line={'color':color_dict['IHSG']}))
fig.add_trace(go.Scatter(x=usd['Tanggal'],y=usd['Terakhir'],mode='lines',name='USD',line={'color':color_dict['USD']}))
fig.add_trace(go.Scatter(x=gold['Tanggal'],y=gold['Terakhir'],mode='lines',name='Gold',line={'color':color_dict['Gold']}))
fig.update_yaxes(type='log')

fig.show()

In [5]:
hostname = 'localhost'
database = 'assets_db'
username = 'postgres'
pwd = '122126'
port_id = 5432

conn = psycopg2.connect(host=hostname,dbname=database,user=username,password=pwd,port=port_id)
cur = conn.cursor()

In [10]:
query = """
    CREATE TABLE IF NOT EXISTS cpi (
        year_month    INTEGER,
        CPI           DECIMAL,
        year_code     INTEGER,
        month_code    INTEGER,
        year          INTEGER,
        month         VARCHAR(20)
    );
    """

cur.execute(query)
conn.commit()

In [2]:
def get_monthly_cpi(url):
    api_key = API_key
    url = f'{url}/{api_key}'
    response = requests.get(url)
    response.raise_for_status()
    fetched = response.json()
    fixed = json.dumps(fetched)
    data = json.loads(fixed)
    
    vervar = next(item['val'] for item in data['vervar'] if item['label'].upper() == 'INDONESIA')
    var = next(item['val'] for item in data['var'])
    turvar = next(item['val'] for item in data['turvar'])
    code = str(vervar)+str(var)+str(turvar)
    
    datacontent = data['datacontent']
    year_mapping = {item['val']:item['label'] for item in data['tahun']}
    month_mapping = {item['val']:item['label'] for item in data['turtahun']}
    last_four_years = [key for key in year_mapping.keys() if key >= max(year_mapping)-3]   
    filter_keys = [i+str(num) for num in range(1,13) for i in [code + str(num) for num in last_four_years]]
    filtered = {key: value for key, value in datacontent.items() if key in filter_keys}
    df = pd.DataFrame.from_dict(filtered,orient='index').reset_index().rename(columns={'index':'year_month',0:'CPI'})
    
    df['year_month'] = df['year_month'].apply(lambda x: x[len(code):])
    df['year_code'] = df['year_month'].str[:3].astype('int32')
    df['month_code'] = df['year_month'].str[3:].astype('int32')
    df['Year'] = df['year_code'].map(year_mapping)
    df['Month'] = df['month_code'].map(month_mapping)
    return df

In [9]:
def insert_to_table(conn,dataframe,table_name):
    try:
        dataframe.to_sql(name=table_name,con=engine,if_exists='replace',index=False)
        # conn.autocommit = True
    except Exception as e:
        print(f"Error: {e}")
    else:
        conn.commit()
        print(f"{table_name} has been inserted")

In [12]:
def init_connection():
    # create connection
    conn = psycopg2.connect(**param_database,options='-csearch_path=dbo,dev')
    # create cursor
    cur = conn.cursor()
    conn_string = f"postgresql://{param_database['user']}:{param_database['password']}@{param_database['host']}/{param_database['dbname']}?options=-csearch_path%3Ddbo,dev"
    engine = create_engine(conn_string).connect()
    return conn, cur, engine

In [16]:
param_database = config('postgresql')

In [17]:
conn, cur, engine = init_connection()

In [4]:
df1 = get_monthly_cpi('https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2/key')

In [7]:
cpi_links = ['https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2/key',
            'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/1709/key',
            'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2261/key']

In [8]:
cpi_list = [get_monthly_cpi(link) for link in cpi_links]
cpi = pd.concat(cpi_list,ignore_index=True)

In [18]:
insert_to_table(conn,cpi,'cpi')

cpi has been inserted

In [84]:
type(cpi)

pandas.core.frame.DataFrame

In [19]:
cur.close()
conn.close()

In [102]:
import pandas as pd
import numpy as np
import datetime as dt
import requests
import json
import psycopg2
from config import config
from sqlalchemy import create_engine

API_key = config('BPS_API')['api_key']
param_database = config('postgresql')
csv_files = config('csv_directory')

def get_monthly_cpi(url):
    api_key = API_key
    url = f'{url}/{api_key}'
    response = requests.get(url)
    response.raise_for_status()
    if response.status_code != 204:
        fetched = response.json()
    fixed = json.dumps(fetched)
    data = json.loads(fixed)
    
    vervar = next(item['val'] for item in data['vervar'] if item['label'].upper() == 'INDONESIA')
    var = next(item['val'] for item in data['var'])
    turvar = next(item['val'] for item in data['turvar'])
    code = str(vervar)+str(var)+str(turvar)
    
    datacontent = data['datacontent']
    year_mapping = {item['val']:item['label'] for item in data['tahun']}
    month_mapping = {item['val']:item['label'] for item in data['turtahun']}
    last_four_years = [key for key in year_mapping.keys() if key >= max(year_mapping)-3]   
    filter_keys = [i+str(num) for num in range(1,13) for i in [code + str(num) for num in last_four_years]]
    filtered = {key: value for key, value in datacontent.items() if key in filter_keys}
    df = pd.DataFrame.from_dict(filtered,orient='index').reset_index().rename(columns={'index':'year_month',0:'CPI'})
    
    df['year_month'] = df['year_month'].apply(lambda x: x[len(code):])
    df['year_code'] = df['year_month'].str[:3].astype('int32')
    df['month_code'] = df['year_month'].str[3:].astype('int32')
    df['Year'] = df['year_code'].map(year_mapping)
    df['Month'] = df['month_code'].map(month_mapping)
    return df

In [103]:
df1 = get_monthly_cpi('https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2/key')
# cpi_links = ['https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2/key',
#             'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/1709/key',
#             'https://webapi.bps.go.id/v1/api/list/model/data/lang/ind/domain/0000/var/2261/key']

# cpi_list = [get_monthly_cpi(link) for link in cpi_links]
# cpi = pd.concat(cpi_list,ignore_index=True,axis=0)
# print(type(cpi))

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [106]:
import os

print(os.getcwd())

file_path = os.path.join(os.getcwd(), "data.json")
print(os.path.exists(file_path))
print(os.stat(file_path))

C:\Users\Windows10\Documents\bitcoin_project
False

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'C:\\Users\\Windows10\\Documents\\bitcoin_project\\data.json'